[2021-01-04 13:58] adamrzanek opened #9 "No response"
So far your plugin doesn't work for 2h and 3h for me... Nut i'm hoping to use it in the future :)

[2021-01-04 15:23] torifat opened #10 "Add support for 2*"
The fork of `miio` introduced some new method name hence `2*` devices might not work. Streamline the method names in my fork https://github.com/torifat/miio so that `2*` devices work.

[2021-01-04 15:28] torifat commented on #9
Can you please share your device models (`zhimi.airpurifier.mb3`) and the errors you are getting.

For 2H, I created #10 and will fix it soon.

And, I'm not sure where did you find a 4H device - https://www.google.com/search?hl=en&q=xiaomi%20mi%20air%20purifier%204h

[2021-01-04 15:56] adamrzanek commented on #9
@torifat sorry i mean 3h - my bad

[2021-01-04 15:56] adamrzanek commented on #9
Did you consider to add led controll and pm2,5 breakpoints?

[2021-01-04 16:19] torifat commented on #9
Can you please share the error you are getting

I thought about adding option to define custom breakpoints for pm2.5. But, I haven't found a good way to add LED control. I didn't like the way other plugins added it as a lightbulb 💡.

[2021-01-04 16:21] adamrzanek commented on #9
It’s now working with 3h. I think it was interfering with other plugin. Thanks for making great work!

[2021-01-04 16:23] torifat commented on #9
You are welcome. I will give you a ping once I have a fix for 2H.

[2021-01-04 16:24] #9 closed

[2021-01-04 16:33] Anraza-Valtieri opened #11 "Separate Accessories tile"
In Homekit, some accessories are able to be separated into multiple tiles instead of bundling into one single tile. Is it possible to get a feature like that for this?

[2021-01-04 23:40] ifeign commented on #11
Second this, the combined accessory makes it very difficult to view more detailed info, you have to go into the settings to get to the list of combined accessories, then press again on the air purifier accessory to see things like auto/manual, filter life, child lock etc. Older plugins show this on the main screen.

Additionally, we need an additional switch accessory for sleep mode.

[2021-01-04 23:41] ifeign commented on #10
Is this why I can't control the child lock on my Mi Purifier 2?

[2021-01-05 00:17] torifat commented on #10
@ifeign I believe so. Is everything else working for you?

[2021-01-05 00:39] torifat commented on #11
I can probably consider adding an option for it but personally I find it really noisy.

I can add an option to make the AirPurifier optional so that you can multiple seperate tiles like this:
[code]

What do you mean by sleep mode? Isn't power off is same as sleep mode?

[2021-01-05 00:41] ifeign commented on #11
By sleep mode, I meant quiet mode. Sorry about that.

On Mon, Jan 4, 2021 at 4:39 PM Rifat Nabi <notifications@github.com> wrote:

[2021-01-05 00:58] torifat commented on #11
I was looking for a nicer way to add all the modes -> `auto`, `sleep`, `favorite`, `custom`. I don't like switches for them 😞  But, it seems there's no other way. I will dig a bit more and then add them.

[2021-01-05 01:02] ifeign commented on #11
Could you make 0 fan speed = quiet mode?
On Mon, Jan 4, 2021 at 4:58 PM Rifat Nabi <notifications@github.com> wrote:

[2021-01-05 01:04] torifat commented on #11
I can but it will be confusing. You won't know from the UI if it's in quite mode or not.

[2021-01-05 01:07] ifeign commented on #11
True. I guess a switch is best. In the plugin that I used to use it just
has a switch that I give change to a fan in the home app. Could this switch
just be part of the combined accessory?

For reference:
https://github.com/YinHangCode/homebridge-mi-airpurifier

On Mon, Jan 4, 2021 at 5:04 PM Rifat Nabi <notifications@github.com> wrote:

[2021-01-05 12:12] danixque opened #15 "Does it work with the Xiaomi Purifier 3C?"
The purifier appears in te home app but as No response, so I cannot use it.
I have used the token extractor windows app to get the token.

Homebridge logs:

[Air Purifier] Initializing XiaomiMiAirPurifier accessory...
HAP Warning: Characteristic 000000AB-0000-1000-8000-0026BB765291 not in required or optional characteristics for service 0000008D-0000-1000-8000-0026BB765291. Adding anyway.
HAP Warn

[2021-01-05 13:30] danixque commented on #15
I forgot to add the token extractor output:

Devices found for server "de":
   ---------
   NAME:  Purificador
   ID:    359581253
   IP:    192.168.1.211
   TOKEN: 039725eca8463735ea71f0a4b6e923ff
   MODEL: zhimi.airpurifier.mb4

[2021-01-05 16:40] torifat commented on #15
Hi @danixque can you please try the latest version `v1.1.0` and see if it works for you. Also, please don't post your `TOKEN` publicly.

[2021-01-05 16:49] danixque commented on #15
Hi torifat,

I just checked the new version and now the Purifier icon appears as activated in Home app but the Xiaomi purifier is powered off, also trying to power it on/off but nothing works.

Cannot see any error in Homebridge logs.

[2021-01-05 17:05] hazrulk opened #16 "Support for Pro H"
Hi,

I can connect my Pro H using your plugin. It works to turn on/off, child lock and manual/auto. However, it does not work to control the fan speed (i.e. in manual)

The model is zhimi-airpurifier-vb2

It works flawlessly for my 3H.

Thank you.

[2021-01-05 17:15] torifat commented on #15
Oh great! thanks for sharing it. That would definitely help. But, you have to wait a bit for it. Sorry 😞

[2021-01-05 17:25] danixque commented on #15
No problem. I've been searching and testing different plugins and any of them works with this 3C model in Homebridge then you could be the first one to make it work, I've seen that someone was able to support it in home assistant.

Thanks for advance!

[2021-01-05 23:07] adamrzanek commented on #9
I think it doesn’t look bad with this plugin

![5A437ED0-38C4-4F19-B3FA-84A0D9EABC6C](https://user-images.githubusercontent.com/65444919/103709604-33b25e80-4fb3-11eb-9737-ddba79017024.png)

[2021-01-05 23:33] torifat commented on #9
ok, you convinced me. I will add it soon 😀

[2021-01-05 23:35] torifat opened #17 "Add support for LED control"
Requested by @adamrzanek in #9

![Home app with LED control](https://user-images.githubusercontent.com/65444919/103709604-33b25e80-4fb3-11eb-9737-ddba79017024.png)

[2021-01-05 23:37] torifat commented on #16
Thank you very much for reporting. I don't won the device so it's a bit hard for me figure it out but I will investigate.

[2021-01-06 00:41] Shirimasen opened #18 "My thoughts"
Setting fan speed to 0% turns off device, then why we need on/off switch? I would prefer to have option to set fan to 0% while keeping device running so I can read temperature etc. Also built in modes (Auto, Night, 1, 2, 3, Manual) are useless because there is no way to access them.

I think that there should be:
1. on/off switch
2. screen on/off switch
3. parental controls on/off switch
3. mode s

[2021-01-06 00:48] torifat commented on #18
You can still read temperature or humidity in that state unless you are unplugging your purifier. Also, I just set the speed to 0, the device itself decides the state.

Apple only supports two modes inside HomeKit.

I haven't used the Homebridge UI. It works ok in Home app. I will have a look.

[2021-01-06 01:02] torifat opened #19 "Move to node-mihome from miio"
Currently, I'm using [a fork](https://github.com/torifat/miio) of [miio](https://github.com/aholstenson/miio) where support for miot devices were added. It's really hard to add support for new devices without owning them. I found [node-mihome](https://github.com/maxinminax/node-mihome) project which seems a lot more feature complete with more device support.

[2021-01-10 00:39] ifeign commented on #10
I'll do an extensive test of this asap

[2021-01-12 10:51] danixque commented on #19
Hi torifat, do you think you will be able to implement the support for the 3C model due to the API changes? Let me know if I can help on testing it.

[2021-01-13 20:09] r2binx commented on #10
It's not working on my 2H unfortunately. It doesn't seem to get any data.
All I could find in the log was this line:
`[1/13/2021, 8:19:32 PM] [Air Purifier 2H] Connected to "Air Purifier 2H" @ 192.168.178.52!`

[2021-01-14 19:56] #18 closed

[2021-01-18 13:16] fynnsh commented on #16
Same error here,  cant even controll on/off..

[2021-01-18 13:26] fynnsh opened #25 "Buttons for Auto/Nightmode"
Im Missing this Feature with all Plugins for Homebridge. Is there a way to implement the Automode so you can switch between manual control and the auto mode?

[2021-01-19 00:10] ifeign commented on #25
Auto mode is within the accessory itself, click on the air purifier and scroll down.

[2021-01-19 00:13] ifeign commented on #19
Probably, it's in the node-mihome supported devices list.
<img width="1014" alt="Screen Shot 2021-01-18 at 4 12 10 PM" src="https://user-images.githubusercontent.com/32289760/104972927-0a78d180-59a8-11eb-8dab-1d0a7bb947c2.png">

[2021-01-19 08:17] danixque commented on #19
Hi Torifat, the mb3 model belongs to the Air Purifier 3H, the 3C model is
the mb4 and this one is not in the list.

Regards.

El El mar, 19 ene 2021 a las 1:13, ifeign <notifications@github.com>
escribió:

--
Daniel Astudillo Vila

[2021-01-19 15:15] hazrulk commented on #16
I can control on/off, select manual/auto just fine. Just unable to adjust the speed

[2021-01-19 18:05] danixque commented on #19
the node-mihome is not a Homebridge plugin right? not sure how to add this under Homebridge. Sorry I'm new in this world.

[2021-01-20 10:57] torifat commented on #25
@fynnsh Apple only support auto/manual mode. Try what @ifeign suggested.

[2021-01-20 10:57] #25 closed

[2021-01-20 11:01] torifat commented on #19
@danixque no, it's not a homebrige plugin. It's a library for controlling devices. If I move to it then I will be able to support all the devices. I spent some time recently exploring it. The main problem is it works a bit differently. For example, you need to give it your xiaomi username and password. It uses that to pull your list of devices and generate token. My concern is some people might no

[2021-01-20 16:13] vemeo commented on #15
Hi,

I have the same problem. I have a Xiaomi Air Purifier 3C and the air purifier appears but nothing works :-(

Thanks for this pluging.

[2021-01-20 18:11] danixque commented on #19
Is the node-mihome library a way of testing some devices in order to be able to create a Homebridge plugin after the investigation?
Is this a good place to run the mihome code https://npm.runkit.com/node-mihome ?
Should I post the console results somewhere?

[2021-01-21 08:11] adamrzanek commented on #19
Is it gonna be online only solution? I have disabled internet connection on my xiaomi devices. So it will not work for me i think

[2021-01-21 11:14] dawidgora commented on #16
With Air Purifier Pro, I also cant adjust fan speed and i'm unable to change mode

[2021-01-22 19:36] ifeign commented on #19
I don't think any of the mi purifier plugins out there work without
internet access.. or am I missing something?

On Thu, Jan 21, 2021 at 12:11 AM adamrzanek <notifications@github.com>
wrote:

[2021-01-22 19:41] adamrzanek commented on #19
They all work without internet :) i have no internet access set on homebridge and all xiaomi devices and it’s all working good

[2021-01-22 22:15] ifeign commented on #19
Which plugin are you using? I've been using this one and it doesn't seem to
work offline https://github.com/YinHangCode/homebridge-mi-airpurifier

On Fri, Jan 22, 2021 at 11:41 AM adamrzanek <notifications@github.com>
wrote:

[2021-01-22 22:34] adamrzanek commented on #19
This one  https://github.com/YinHangCode/homebridge-mi-airpurifier for 2h

[2021-01-30 00:16] heikobischoff commented on #10
I cannot control the fan speed on my AirPurifier 2 as well. Child lock I didn't try. On/Off and sensor data are working for me. Would be great to support fan speed, too. I can support with testing if required.

[2021-01-30 18:49] asiersan commented on #15
Any news??

[2021-02-05 16:18] samanoju commented on #15
no update? :(

[2021-02-13 14:01] ktsi opened #48 "Mi air purifier 2 partially works"
Hi! Thanks for your work. I have the mi air purifier 2 and the fan speed is not working. I can see temop/humidity and turn it on/off. Can you take a look? Thanks.

[2021-02-16 01:20] ojoaosemtil commented on #48
Hello! The same happens with the Mi Air Purifier Pro, I can do everything except change to manual mode and adjust fan, it automatically turns the device into “no response”. Is it possible to fix? It doesn’t log anything..

Also, it would be nice to have a switch to turn on Night mode, since I know Apple only always integration with Manual and Auto, but a separate optional switch would be great!

[2021-02-17 11:58] calas80 commented on #15
Hi,

I have this device, I am very much waiting for an update.

Thanks for this pluging.

[2021-02-24 13:12] degofedal commented on #48
Thanks so much for you work with this plugin.

I can verify that Air Purifier 2S and latest plugin version and Homebridge version (1.3.0/1.3.1) fan speed is not working, aswell as manual/auto switch, child lock etc. I can only turn on and off the Air Purifier but that's about it.

I also don't have the "Show as separate tiles" button.

Let me know if you need any help trouble shooting. Thanks agai

[2021-02-25 08:11] Csehla opened #65 "Air purifier does not respond - problem with plugin"
I have an issue in my log: This plugin slows down Homebridge. I use it in a child bridge mode, but not work... what is the problem?

[2021-02-25 12:25] Csehla commented on #16
I have a plugin problem (homebridge ver. 1.3.1). My Air Purifier Pro device does not work.

[2021-02-25 18:37] somesanAdrian commented on #65
I'm having the same issues, the device is not responding in Homekit app and in the homebridge status it says: _"This plugin slows down Homebridge. The read handler for the characteristic 'Active' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info."_

[2021-02-28 23:22] jngmrks commented on #15
Please help with the 3C, would be really great!

[2021-03-01 03:56] ifeign commented on #11
Any updates on this? Your plugin is so close to being the best Mi Purifier plugin, if you could add a Quiet Mode switch and allow people to show separate tiles for the accessory, this would pretty much be feature complete.

[2021-03-01 19:35] asiersan commented on #15
With the xiaomi_miot_raw is runing trough Cloud. O tried it, but not all funtions.
On/off, air density, filter used  ok but nigth, auto,.. no

[2021-03-01 20:44] jngmrks commented on #15
Could you please share your code so that we can all look over it together. Maybe one or the other has an idea?

[2021-03-01 22:14] pax0707 commented on #48
2S.
Same experience.

[2021-03-01 22:21] pax0707 commented on #16
Mi Air Purifier 2S
Can't adjust fan speed.

[2021-03-01 22:23] pax0707 commented on #10
Same with 2S.

[2021-03-01 22:26] pax0707 commented on #48
I see it's related to #10

[2021-03-02 05:25] asiersan commented on #15
Is not my cose. Is a hacs repository
https://github.com/ha0y/xiaomi_miot_raw

[2021-03-03 04:26] kutdenis commented on #65
Same problem with the plugin

[2021-03-03 10:37] JamesBedwell commented on #65
Same issue. My 2S purifier is no longer responding, same issue for maybe a week now, tried updating plugin and homebridge but didn't fix the issue. Following

[2021-03-04 07:00] digitalbugs commented on #65
Same issue
Following

[2021-03-05 05:19] sinnfeinn commented on #65
Same issue: [homebridge-xiaomi-mi-air-purifier] This plugin slows down Homebridge. The read handler for the characteristic 'PM2.5 Density' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info.
Tried to add it as a childbridge but cant add it in homekit.

[2021-03-05 22:45] mrykin commented on #65
same problem:

[3/6/2021, 1:35:54 AM] [homebridge-xiaomi-mi-air-purifier] This plugin generated a warning from the characteristic 'Rotation Speed': SET handler returned write response value, though the characteristic doesn't support write response. See https://git.io/JtMGR for more info.

AND

[3/6/2021, 1:33:38 AM] [homebridge-xiaomi-mi-air-purifier] This plugin generated a warning from the chara

[2021-03-06 08:14] Dane03 opened #73 "Multiple Errors at startup of Homebridge"
When I start homebridge , I see a lot of these messages:

[06/03/2021, 09:09:52] [homebridge-xiaomi-mi-air-purifier] This plugin slows down Homebridge. The read handler for the characteristic 'Active' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info.
[06/03/2021, 09:09:52] [homebridge-xiaomi-mi-air-purifier] This plugin slows down Hom

[2021-03-06 11:42] Seger85 commented on #15
Hello all,

I can confirm the same behavior.
Token and IP are set correctly, in the HomeApp without response available "the device does not respond".

I use the new version including Homebridge.

Is there any progress on this already or can I support with any test?

Follow snippets I have found yet:
`[3/6/2021, 12:25:23 PM] [Air Purifier] Connected to "Air Purifier" @ 192.168.178.79!
[3/6/2021, 12

[2021-03-08 08:51] egabor commented on #15
Same here. I've a 3C but it's not working with HomeKit. We're all very much waiting for an update.

[2021-03-08 10:08] Alexxino commented on #73
I have the same problem, everything is updated. I even remove the accessory and added again (with a new token) but the problem continues.

[2021-03-09 07:52] torifat commented on #15
Hey @Seger85, thanks a lot for the log. That was very helpful. Now I at least know what is wrong. I will try to fix those `null` issues soon and see if it works after that 🤞🏽.

[2021-03-09 07:54] torifat commented on #15
@jngmrks what do you mean by "share your code"? The code is already out there. It's open-source -> https://github.com/torifat/xiaomi-mi-air-purifier

[2021-03-09 10:00] moonpen commented on #65
Have the same issue too, following.

[2021-03-11 23:51] drz01 commented on #65
@Csehla You were the first to report the issue 15 days ago. According to the [commit timeline](https://github.com/torifat/xiaomi-mi-air-purifier/commits/master) Dependabot bumped homebridge to 1.3.1 16 days ago. I am hoping to pin down the origin of this bug so we can testing for it.

[2021-03-12 01:19] JamesBedwell commented on #65
hi @drz01 I experienced this issue on an earlier version of Homebridge (1.1.x), not just the latest release. So it might not strictly be something in 1.3.1.

[2021-03-13 09:08] Seger85 commented on #15
![image](https://user-images.githubusercontent.com/35084198/111025391-0aafaf00-83e4-11eb-9ce1-793828b73983.jpeg)

[2021-03-13 09:44] skyjt commented on #16
This plugin can support zhimi-airpurifier-vb2 (mi air purifier proH) [link](https://github.com/merdok/homebridge-miot)

[2021-03-17 17:35] samanoju commented on #15
guys, this works fine with 3C:
https://github.com/merdok/homebridge-miot#readme

[2021-03-18 07:37] digitalbugs commented on #48
zhimi.airpurifier.m1
Same experience

[2021-03-18 19:42] szkocot commented on #48
Mi air purifier 2. I can turn on/off the device and seeing the sensors data, but can't control the manual/auto mode as well as fan speed plus apple home app reports no response from purifier.

[2021-03-22 04:42] sinnfeinn commented on #65
Homebridge states in [https://github.com/homebridge/homebridge/wiki/Characteristic-Warnings](https://github.com/homebridge/homebridge/wiki/Characteristic-Warnings) :

I tried moving it to a child bridge but it wont add it to my iOS Homekit.

[2021-03-22 08:52] drz01 commented on #65
I got that far as well. This repo may be dormant; I'll look into the issue some more...

[2021-03-28 19:56] mrmaximas opened #88 "Xiaomi Mijia Fresh Air Blower C1 80 MJXFJ-80-G3"
This plugin works with Xiaomi Mijia Fresh Air Blower C1 80 MJXFJ-80-G3?
Thanks!

[2021-04-01 11:47] TinyFlag commented on #48
airpurifier.v1 has same experience

[2021-04-04 00:53] ahmadnazirafiq opened #93 "Add support for Petoneer AirMaster Purifier"
Please add support for Petoneer AirMaster air purifier. It can be added in Mi Home app just like other Xiaomi air purifiers are.

[2021-04-26 14:23] marcpodi commented on #65
This plugin works 20% of the time. I had to use Mi Home app to turn on the Air Purifier.

[2021-05-12 11:57] dmndrz opened #111 "Needs to launch an action twice to make it really works"
Hi! I created some scenarios to automatically change the fan speed when I want to (with 3 different speeds). Somehow I have to launch these scenes twice before it actually works. Same to turn the purifier on/off. I have this issue when I tap on a scenario (on all of my devices), and with Siri too.

I tap the button of a scene (including a different fan speed than the actual one) in the Home app, o

[2021-05-20 15:16] dawiinci commented on #111
I have the same issue. Voice command always fails at first.

It is very annoying.

[2021-05-30 12:47] mstrQ commented on #15
3C still not supported?!

[2021-06-15 18:20] patowod commented on #73
Same here. Does anyone know what the status of this is? It seems to be the only plugin that really works with my AirPurifier Pro H (EU version) and it would be awesome if this could be made to work again. Apart from the above error message on startup it just doesn’t answer.

[2021-06-19 11:05] perteraul commented on #73
I'm in the same process and I can't open my HomeBridge GUI anymore. Do you completely uninstall and start from scratch, or?

[2021-06-26 09:37] krmkrx opened #139 "Add support for Xiaomi Mijia Air Purifier X"
Please consider supporting the newest Air Purifier, the Xiaomi Mijia Air Purifier X.

[2021-06-26 11:18] slidset commented on #15
samanoju
you can post your json configuration
thank you

[2021-06-26 13:37] socosfly commented on #139
+1
I need it too. Please.

[2021-06-29 16:29] samanoju commented on #15
for 3C I use homebridge-miot v0.9.6
that works like fine all time.

[2021-07-09 15:38] charleszhai1991 opened #150 "Xiaomi Air Purifier 3 (Chinese Version) Takes Long Time to Respond"
It takes over 30s to turn on/off the device, it will be appreciated if this can be optimized. Million thanks!!!

[2021-07-19 22:41] ndejong5 opened #157 "Air Filter"
I don't see the air filter status.

[2021-08-12 07:04] iulianmara opened #177 "Please add Smartmi Air Purifier"
Device does not respond to Homekit request. sometimes when respond, even if I cange the fan speed or turn on the device change mode to night mode. Sensors are ok, I can see Air Quality (but as good or bad), humidity in % and temperature.

[2021-09-06 08:44] chigy110 commented on #111
Same issue, started several days ago, I use the comming home feature in Apple Home to switch it on. Worked like charm for several month. But now it stays off when comming home, when you try to start it manually you have to send the command twice

[2021-09-11 18:03] pax0707 commented on #73
Same here.

[2021-09-18 09:03] mlc130104 commented on #139
+1. Too bad it isn't supported after almost a years since release

[2021-10-11 12:13] isaaccs opened #212 "This plugin slows down Homebridge."
**Describe The Bug:**
I use this plugin with a Xiaomi Mi air purifier 3H and I have the following log error :

**Expected behavior:**

No error log

**Logs:**

[code]

**Plugin Config:**

[code]

**Environment:**

- **Plugin Version**: 1.1.0
- **Homebridge Version**: 1.3.5
- **Node.js Version**:  0.9.6
- **NPM Version**:  7.14.0
- **Operating System**: Raspbian

[2021-10-13 13:20] davidnyren commented on #48
Same for me :(

[2021-11-01 15:34] danielkit83 opened #220 "How install this plug-in on Hoobs?"
Hi,

For this plug-in, Is it able to install in on Hoobs? Thanks

Best Regards,
Daniel

[2021-11-02 21:21] normen commented on #177
Having the same issue, the https://github.com/seikan/homebridge-mi-air-purifier plugin seems to work but also seems to be discontinued..

[2021-11-07 06:54] FranciRoosters commented on #212
Have you found a fix?

[2021-11-07 11:01] raphmoska commented on #212
No I haven't.... No idea how to resolved the problem.

[2021-11-07 14:29] llyons92 commented on #212
I am having the same issue

[2021-11-07 18:05] torifat commented on #212
I will have a look soon. Just restored my homebridge setup.

[2021-11-15 14:07] hg commented on #15
If you (like me) end up here after a google search: for those of us without any iOS devices (or complicated home automation with Home Assistant and the like), [python-miio](https://github.com/rytilahti/python-miio) also works beautifully with 3C. You can extract the token using [this project](https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor) after registering your 3C in Mi Home on a

[2021-11-16 14:06] razvy94 opened #223 "Can't connect with my Xiaomi 3H"
doesn't work with Xiaomi 3h for me, it appear in homekit but it show always "no response".

[2021-11-17 18:18] #212 closed

[2021-11-18 11:08] dominikszewczyk opened #225 "Lock Physical Controls, Filter Life Level and Filter Change Indication don't work"
**Describe The Bug:**

Error in Config UI X.
Air Purifier 1:  not responding in Home. Changing speed didn't work. Child Lock and Filter Level not available.
Air Purifier 3: Child Lock and Filter Level not available in Home App (only in e.g. Controller for Homekit)

**To Reproduce:**

 - Add devices
 - Restart Homebridge

**Logs:**

[code]

**Plugin Config:**

[code]

**Environment:**

- **Plugin V

[2021-11-18 13:38] torifat commented on #223
Can you please try the new version? The old one wasn't working properly with Homebrige 1.3.

[2021-11-18 13:40] torifat commented on #220
As far as I know, Hobbs has a list of verified plugins that they show you when you search. But, I'm not very well versed in Hoobs. So, please ask for help in Hoobs forums. Thanks.

[2021-11-18 13:40] #220 closed

[2021-11-18 13:41] torifat commented on #177
Can you please try the new version? The old one wasn't working properly with Homebrige 1.3.

[2021-11-18 14:02] torifat commented on #157
It's not easy to find. Here's how you can find it 🙂

https://user-images.githubusercontent.com/208544/142429628-bc1db071-8372-4681-ba24-64e468731b55.MP4

[2021-11-18 14:02] #157 closed

[2021-11-18 14:03] razvy94 commented on #223
i try it and:

[18/11/2021, 16:01:31] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Active': Unhandled error thrown inside read handler for characteristic: device.power is not a function. See https://git.io/JtMGR for more info.
[18/11/2021, 16:01:31] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Current Air Purifie

[2021-11-18 14:04] torifat commented on #150
Can you please try the new version? The old one wasn't working properly with Homebrige 1.3.

[2021-11-18 14:06] torifat commented on #223
Can you please share your version Homebrige and `homebridge-xiaomi-mi-air-purifier`?

[2021-11-18 14:09] razvy94 commented on #223
homebridge-config-ui-x v4.41.2
homebridge-xiaomi-mi-air-purifier v2.0.0

[2021-11-18 14:11] torifat commented on #223
Do you get a message like `Connected to "Air Purifier" @ 192.168.XX.XXX!` before these errors? It looks like your IP and Token is probably not working.

[2021-11-18 14:12] torifat commented on #223
I will add a better error message. I just upgraded to the new version, and I still don't handle all errors cases properly.

[2021-11-18 14:13] razvy94 commented on #223
yes i get it, [18/11/2021, 16:12:23] [Air Purifier] Connected to "Air Purifier" @ 192.168.xx.xxx!

[2021-11-18 14:17] torifat commented on #223
Is it possible for you to check your NodeJS version? I also use Xiaomi 3H and do not have this issue.

[2021-11-18 14:19] razvy94 commented on #223
Node.js Version | v14.18.1
Npm Version | v6.14.15

[2021-11-18 14:19] torifat commented on #65
Can you please try the new version? The old one wasn't working properly with Homebrige 1.3.

[2021-11-18 14:19] torifat commented on #73
Can you please try the new version? The old one wasn't working properly with Homebrige 1.3.

[2021-11-18 14:21] torifat commented on #111
Can you please try the new version? The old one wasn't working properly with Homebrige 1.3.

[2021-11-18 14:37] torifat commented on #223
Do you get any other error before "[18/11/2021, 16:01:31] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Active': Unhandled error thrown inside read handler for characteristic: device.power is not a function. See https://git.io/JtMGR for more info."?

It looks like the `device` is `undefined` for some reason and I can't reproduce it on my side :( I tried to

[2021-11-18 14:37] charleszhai1991 commented on #150
I've tried the new version, it gets even worse.

[2021-11-18 14:53] razvy94 commented on #223
no other errors just:

[18/11/2021, 16:49:54] [Air Purifier] Initializing XiaomiMiAirPurifier accessory...
[18/11/2021, 16:49:54] [Air Purifier] Air Purifier finished initializing!
18/11/2021, 16:49:56] [Air Purifier] Connected to "Air Purifier" @ 192.168.31.123!

[18/11/2021, 16:50:00] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Active': Unhandled error

[2021-11-18 15:15] boomchatchat opened #226 "I got the error like this:"
I got the error like this:
How to fix it?

[11/18/2021, 11:12:58 PM] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Active': Unhandled error thrown inside read handler for characteristic: device.power is not a function. See https://git.io/JtMGR for more info.
_[Removed rest of the log because they don't provide any additional value. - Rifat]_

[2021-11-18 15:17] boomchatchat commented on #223
i have a same issue, too.

[2021-11-18 15:26] torifat commented on #226
Can you please share your version of `homebridge-xiaomi-mi-air-purifier`?

[2021-11-18 15:27] torifat commented on #223
@boomchatchat you don't have the same issue. Your errors are different.

[2021-11-18 15:30] torifat commented on #150
Hmm, I can confirm that it has become worse. The new [`onSet`](https://github.com/homebridge/homebridge/blob/5ae3989e279ff61706e735409677692dd91b5f70/CHANGELOG.md#changes-for-developers) isn't behaving as I was expecting it to be. I will have a look and see if I can improve it.

I'm not sure how long does it takes you now. But, there's a little bit of delay even when I use the official Xiaomi app.

[2021-11-18 17:50] Csehla commented on #65
I try it. I have a new problem (but the plugin works now): This plugin threw an error from the characteristic 'Filter Life Level': Unhandled error thrown inside read handler for characteristic: Cannot read property 'value' of undefined. See https://git.io/JtMGR for more info.

[2021-11-18 17:51] Csehla commented on #226
I have the same problem!

[2021-11-19 01:09] torifat commented on #226
@Csehla your issue is similar to #223

[2021-11-20 18:18] Dane03 commented on #226
@torifat Thanks for your effort here.
I am constantly getting errors like

20/11/2021, 19:08:09] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Lock Physical Controls': Unhandled error thrown inside read handler for characteristic: Cannot read properties of undefined (reading 'value'). See https://git.io/JtMGR for more info.
[20/11/2021, 19:08:09] [homebrid

[2021-11-21 05:13] guesq commented on #226
same here.
I find the values of property 'filter_life' and 'child_lock' are 'undefined'.
https://github.com/torifat/xiaomi-mi-air-purifier/blob/f6c9fb8211a8e8306b48b6f452cac6d726051dea/src/characteristics/air-purifier/filter-life-level.ts#L17
https://github.com/torifat/xiaomi-mi-air-purifier/blob/f6c9fb8211a8e8306b48b6f452cac6d726051dea/src/characteristics/air-purifier/filter-change-indication.ts#

[2021-11-21 05:29] guesq commented on #226
same here.
I find the values of property 'filter_life' and 'child_lock' are 'undefined'.
https://github.com/torifat/xiaomi-mi-air-purifier/blob/f6c9fb8211a8e8306b48b6f452cac6d726051dea/src/characteristics/air-purifier/filter-life-level.ts#L17
https://github.com/torifat/xiaomi-mi-air-purifier/blob/f6c9fb8211a8e8306b48b6f452cac6d726051dea/src/characteristics/air-purifier/filter-change-indication.ts#

[2021-11-21 05:31] guesq commented on #226
same here.
I find the values of property 'filter_life' and 'child_lock' are 'undefined'.
https://github.com/torifat/xiaomi-mi-air-purifier/blob/f6c9fb8211a8e8306b48b6f452cac6d726051dea/src/characteristics/air-purifier/filter-life-level.ts#L17
https://github.com/torifat/xiaomi-mi-air-purifier/blob/f6c9fb8211a8e8306b48b6f452cac6d726051dea/src/characteristics/air-purifier/filter-change-indication.ts#

[2021-11-21 05:34] guesq commented on #226
Same here.
I find the values of property 'filter_life' and 'child_lock' are 'undefined'.
https://github.com/torifat/xiaomi-mi-air-purifier/blob/f6c9fb8211a8e8306b48b6f452cac6d726051dea/src/characteristics/air-purifier/filter-life-level.ts#L17
https://github.com/torifat/xiaomi-mi-air-purifier/blob/f6c9fb8211a8e8306b48b6f452cac6d726051dea/src/characteristics/air-purifier/filter-change-indication.ts#

[2021-11-21 05:44] torifat commented on #226
@Dane03 @guesq seems like you folks are having a different problem. So I will create a separate issue for this. In the worse case, I can automatically disable `filter_life` and `child_lock` for 2H and Pro H.

@guesq did you try to turn them off in settings before commenting out the code?
<img width="476" alt="Screen Shot 2021-11-21 at 4 36 12 pm" src="https://user-images.githubusercontent.com/2085

[2021-11-21 05:50] torifat opened #229 "Child lock and Filter life don't work in 2H and Pro H"
Child lock and Filter life don't work in 2H and Pro H. They throw `Cannot read properties of undefined (reading 'value')`.

[code]

Version is `homebridge-xiaomi-mi-air-purifier` `v2.0.0`
NPM 8.1.4
Node 16.13

Using Xiaomi Air Purifier 2h and Pro H

_Reported by @Dane03 in https://github.com/torifat/xiaomi-mi-air-purifier/issues/226#issuecomment-974690483_
_Reported by @guesq in https://github.com

[2021-11-21 06:11] guesq commented on #226
@torifat Thanks for your reply.
I'm using Xiaomi Air Purifier 2H. This is my settings:
![Mi-Air-Purifier-Settings](https://user-images.githubusercontent.com/2208637/142751671-0fc01848-4ce3-46b5-a478-b7e34407cdd0.png)
I did not turn 'Child Lock' on and only got the errors about 'Filter Life Level' and 'Filter Change Indication'. So I just commented out the lines with 'filter_life' property. I also

[2021-11-21 06:46] torifat commented on #226
@guesq Ah! thank you. My bad! It's `filter_life` and not Air Quality. Also, thanks for confirming that the setting works for **Child Lock**.

[2021-11-22 05:18] cbrunnkvist commented on #229
Yeah, I changed to this plugin from the my previous `homebridge-xiaomi-purifier-eu` ([repo](https://github.com/clauzewitz/homebridge-xiaomi-purifier)) because that was bombarding my log with "Lock Physical Controls" read handler errors. But now I still get flooded logs but with this error related to Filter Life Level and Filter Change Indication instead:

[code]

😩

N.b. I use the **Mi Air Purifie

[2021-11-22 05:22] cbrunnkvist commented on #10
I use the **Mi Air Purifier 2S** model. I changed to this plugin from the my previous `homebridge-xiaomi-purifier-eu` ([repo](https://github.com/clauzewitz/homebridge-xiaomi-purifier)) because that was bombarding my log with "Lock Physical Controls" read handler errors.

But it does not make anything better: now I get flooded logs again, but this time with an error related to Filter Life Level and

[2021-11-22 05:53] JonoHaysom opened #231 "Error with the latest update"
I'm on the latest plugin version. my logs show the below errors. I'm on 1.3.4 for Homebridge too

my Node JS and NPM version
Node.js Version	v14.16.0
Npm Version	v6.14.11

[11/22/2021, 9:50:29 AM] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Filter Life Level': Unhandled error thrown inside read handler for characteristic: Cannot read property 'value' of

[2021-11-22 13:05] torifat commented on #231
Duplicate of #229. Please follow the update there.

[2021-11-22 13:05] #231 closed

[2021-11-22 13:08] torifat commented on #10
@cbrunnkvist I will fix this soon. Please follow #229

[2021-11-22 15:46] torifat commented on #229
I need some volunteers to test 2* and Pro devices. I don't own those devices, so it's tough for me to test.

[2021-11-22 20:45] luluhoc commented on #229
@torifat I can volunteer

[2021-11-22 21:56] luluhoc commented on #225
https://github.com/torifat/xiaomi-mi-air-purifier/pull/233

made a pull request fixing this bug

[2021-11-22 21:56] luluhoc commented on #226
https://github.com/torifat/xiaomi-mi-air-purifier/pull/233

made a pull request fixing this bug

[2021-11-23 06:16] torifat commented on #229
Thanks, @luluhoc. Can you please share the output of the following code snippet?
[code]
It should output something like:
[code]

_:warning: If it spits out any private information please remove it before sharing._

[2021-11-23 09:11] guesq commented on #229
@torifat, this is the output of my device. Looks like my device is Air Purifier 2. I thought it was 2H. Sorry for the misinformation.
[code]

[2021-11-23 09:13] torifat commented on #229
Thank you, this will help me a lot.

[2021-11-23 10:20] cbrunnkvist commented on #229
@torifat It's the 2S:
[code]

[2021-11-23 10:33] cbrunnkvist commented on #10
I compared what is presented in the Home app for the 2S and I can confirm that I also miss the speed control available with the legacy module. Now I only see the power toggle alone, just like @heikobischoff's screenshot.

[2021-11-23 12:13] torifat commented on #229
@cbrunnkvist 2* & 3* devices use different  method and property names. In my fork, I'm trying to make them same. For example this - https://github.com/torifat/miio/commit/856110ef23595b5eebc6b8ad938b663b3a5021aa. However, my end goal is to move to https://github.com/maxinminax/node-mihome.

[2021-11-23 12:16] luluhoc commented on #229
I will give you later, I can open another PR if you want i leave your old properties and just add conditional if model is PRO

[2021-11-23 12:32] torifat commented on #229
**Can you folks try the [new version](https://github.com/torifat/xiaomi-mi-air-purifier/releases/tag/v2.0.1) `2.0.1` and see if it fixes your problem.**

@luluhoc Thanks, but I don't actually need those. Xiaomi has an official API that gives you those. I'm asking you folks to run it to see what `miio` library gives us, not what is supported.

[2021-11-23 12:33] luluhoc commented on #229
I will try it later when I'll get home from work :)

[2021-11-23 12:37] torifat commented on #73
This should be fixed now. Please feel free to open it again if you are still getting those errors.

[2021-11-23 12:37] #73 closed

[2021-11-23 13:14] torifat commented on #226
Closing this in favour of #229

[2021-11-23 13:14] #226 closed

[2021-11-23 14:48] guesq commented on #229
@torifat Thanks for your effort.
There are no error messages when starting Homebridge now.
The values of **Filter Life Level** and **Filter Change Indication** should be correct.
![Filter Life Level](https://user-images.githubusercontent.com/2208637/143044060-01b87229-4a67-4407-9aff-14c08e96c896.png)

But when **Fan speed** is enabled and I'm trying to adjust the fan speed in **Home** app, I get t

[2021-11-23 15:36] torifat commented on #229
Thanks @guesq, that's quite helpful. I will fix both of those issues soon.

[2021-11-24 09:41] cbrunnkvist commented on #229
Confirmed on **2S** it doesn't spam logs anymore now 👍 , also power switch works fine. And _if_ I enable speed control, it logs the same exception as @guesq's on changing its value:

[code]

[2021-11-24 09:52] cbrunnkvist commented on #229
As I come to think of it, it's a little bit ambiguous as to what should actually happen when you adjust Fan Speed because in the **Mi Home** app, (-for the 2S at least-), in two (🅰️Auto and 🌙Night) out of its three possible operating modes, there _is_ no fan speed slider shown. Only the third mode (🖤Manual) lets the user pick a constant speed.

[2021-11-25 16:50] ZenitES commented on #223
Hello,
I also have this problem, but with a Mi Air Purifier 2H.  Homebridge v1.3.8

i get  message
[25/11/2021, 17:24:25] Loaded plugin: homebridge-xiaomi-mi-air-purifier@2.0.1
[25/11/2021, 17:24:25] Registering accessory 'homebridge-xiaomi-mi-air-purifier.XiaomiMiAirPurifier'
[25/11/2021, 17:24:25] ---
[25/11/2021, 17:24:25] [Air Purifier] Initializing XiaomiMiAirPurifier accessory...
[25/11/2021

[2021-11-29 11:40] manveru1986 commented on #15
@samanoju How did you make it work with it? I copied the Token and ID, but while the button is shown in HomeKit it does nothing.

[2021-11-29 21:36] bidulle95 commented on #223
same issue

[2021-12-02 14:34] BrapBrapp2 opened #241 "No response in HomeKit fan speed"
On Mi air purifier 2S, when changing fan speed in HomeKit it gives no responses! Otherwise great plug-in! Running it on Hoobs.

[2021-12-03 12:45] frasfs commented on #231
@torifat Hi there, can you please explain how to fix the issue? I have went to the duplicate #229 but you only posted codes and usage with no explanation as to what to do with the codes. Can you please add instructions as I have an error same as mentioned above.

[2021-12-03 12:50] frasfs opened #242 "This plugin slows down Homebridge. The read handler for the characteristic 'Active' was slow to respond!"
I have an Xiaomi Air Purifier 3H and it was working just fine until the latest update.

Plugin: homebridge-xiaomi-mi-air-purifier v2.0.1

Please help, with instructions.

[12/3/2021, 3:36:13 PM] [homebridge-xiaomi-mi-air-purifier] This plugin slows down Homebridge. The read handler for the characteristic 'Active' was slow to respond! See https://git.io/JtMGR for more info.
[12/3/2021, 3:36:13 PM]

[2021-12-03 14:53] torifat commented on #242
This has been fixed already. You should only see this when your Homebrige has trouble connecting with your Purifier. I don't have any plan to fix this edge case. Please check your IP and token. Then try to restart the Homebrige server.

[2021-12-03 14:53] #242 closed

[2021-12-03 14:54] torifat commented on #241
I will fix it soon. This has been already reported in https://github.com/torifat/xiaomi-mi-air-purifier/issues/229#issuecomment-976657941. Please follow that issue. I'm closing this one as duplicate.

[2021-12-03 14:54] #241 closed

[2021-12-03 14:57] torifat commented on #65
Hey @Csehla, please create a new issue for the filter level problem please 🙏🏽. Also, it would be nice to mention your device in the issue.

[2021-12-03 14:57] #65 closed

[2021-12-03 14:58] torifat commented on #111
Please reopen if you are still having the issue.

[2021-12-03 14:58] #111 closed

[2021-12-03 15:01] torifat commented on #231
I said I was going to fix it. It's not fixed yet. I don't want two different issues for the same problem. Follow that issue for updates.

[2021-12-03 15:36] torifat commented on #225
This should be fixed now.

[2021-12-03 15:36] #225 closed

[2021-12-03 15:38] torifat commented on #229
@guesq and @cbrunnkvist I just released a new version `homebridge-xiaomi-mi-air-purifier@2.0.2`. Can you folks please check if it fixes the fan speed and child lock problem 🙏🏽.

[2021-12-03 23:37] guesq commented on #229
@torifat Tested. While adjusting **Fan Speed**, the following messages show in logs:
[code]
While **Child Lock** is switched, the following messages show in logs:
[code]

[2021-12-04 13:12] XaXBullen commented on #229
Still 2.0.1 listed as the newest version in Hoobs!

Now it was showing up in Hoobs, 2.0.2 installed. Now it don’t even show the Fan speed control in HomeKit even if it is on in Hoobs. 🤔

[2021-12-04 17:40] adam-is-here opened #243 "Unhandled error thrown"
Hi, connected my xiaomi air purifier 2H and here are errors.
Accessory is not responding.
Nothing is working.. please help.

Logs:
[12/4/2021, 7:39:26 PM] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Active': Unhandled error thrown inside read handler for characteristic: device.power is not a function. See https://git.io/JtMGR for more info.
[12/4/2021, 7

[2021-12-05 14:47] samoilyk commented on #15
Hi, same issue for me. Any updates?

[2021-12-05 17:49] jngmrks commented on #15
I had the same problems and therefore switched to homebridge-miot, so everything works fine!

[2021-12-05 18:05] manveru1986 commented on #15
I tried with the "miot" one but still could not configire it. Are you also trying with 3H?

[2021-12-07 11:14] firedevel commented on #243
Mine has the same problem

[2021-12-08 15:07] Viv-Guo commented on #243
me too

[2021-12-09 19:41] mlo-Tek commented on #243
Same here... :-/

[2021-12-10 09:39] MaurizioB84 commented on #243
same error guys

[2021-12-11 15:41] kevin11121147 commented on #243
up

[2021-12-13 20:20] McDin commented on #243
Me too

[2021-12-14 13:55] adam-is-here commented on #243
any news?

[2021-12-15 03:53] ForestOfDreams commented on #243
same: [12/15/2021, 6:49:36 AM] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Rotation Speed': Unhandled error thrown inside write handler for characteristic: device.changeFanSpeed is not a function. See https://git.io/JtMGR for more info.

[2021-12-20 19:33] Hawksama commented on #243
Same

[2021-12-20 19:40] christianlauer commented on #243
same here

[2021-12-21 06:52] Hawksama commented on #229
`[21/12/2021, 06:50:24] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Active': Unhandled error thrown inside write handler for characteristic: device.power is not a function. See https://git.io/JtMGR for more info.
MiioDevice {
  model=zhimi.airp.mb3a,
  types=miio,
  capabilities=
}`

[2021-12-25 17:24] wifiovermybody opened #260 "Fanspeed doesn't work on zhimi.airpurifier.v6"
All advertised features work on zhimi.airpurifier.v6 except Fan Speed. which gives this error in HomeBridge log:

[12/25/2021, 6:17:12 PM] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Rotation Speed': Unhandled error thrown inside write handler for characteristic: device.changeFanSpeed is not a function. See https://git.io/JtMGR for more info.
MiioDevice

[2021-12-25 20:36] vitaliy-kozlov commented on #48
homebridge-xiaomi-mi-air-purifier v2.0.2 (2021-12-03) issue is still there.

[2021-12-25 20:39] vitaliy-kozlov commented on #260
same issue with 2S

[2021-12-25 20:41] vitaliy-kozlov commented on #243
same issue.

[2022-01-05 21:32] chipu98 commented on #243
same issue

[2022-01-12 10:57] dominikszewczyk commented on #260
same for 1

[2022-01-12 11:17] dominikszewczyk opened #271 "Issue with parental lock in homekit"
**Describe The Bug:**

The parental lock didn't work in homekit.

**To Reproduce:**

Open Setting for device (Air Purifier) and toggle parental lock (Locked to unlocked and unlocked to locked).

**Expected behavior:**

The parameter should be changes without error and button on device should be locked or unlocked for changing settings.

**Logs:**

[code]

**Plugin Config:**

[code]

**Environment:

[2022-01-19 19:11] Moskvitch commented on #229
First of all, a big thank you very much for this.
I installed the latest 2.0.2, but as many have noted trying to use the fan speed slider results in the same following error, on either model MC1 or MA2:
Thanks again for looking into this.

MiioDevice {
  model=zhimi.airpurifier.mc1,
  types=miio:air-purifier, sensor, miio, air-purifier,
  capabilities=fan-speed, miio:buzzer, miio:led-brightness, m

[2022-01-20 21:00] NoCamping opened #277 "No Support for XIAOMI Smart Air Purifier 4 Pro"
Hello, just tried to add my new  Smart Air Purifier 4 Pro Device and bring it to Homebridge.
But there is no connection, I am afraid this model is not supported.

Is it possible to bring it to run ? Can I do something ?
This is th offial MODEL Type / Code :    zhimi.airp.vb4

Thank you for your work! (Network Connection is fine and I already have the correct cloud token).

Log:
[1/20/2022, 8:07:09

[2022-01-21 20:40] normen commented on #177
Nope, still get issues with the fan speed:
[code]

[2022-01-23 03:19] benchristian88 commented on #277
I would love this also. thank you!

[2022-01-23 20:57] BassXX opened #278 "Mi Air Purifier 3H does not respond anymore"
**Describe The Bug:**

The Mi Air Purifier 3H stopped working for some reason. The device does not respond in Homebridge. It was working perfectly before. I assume it could have changed with an update of homebridge or another plugin.

**To Reproduce:**

Whenever I boot up Homebridge

**Expected behavior:**

Device responds :)

**Logs:**

[homebridge-xiaomi-mi-air-purifier] This plugin slows down H

[2022-01-25 17:34] #278 closed, assigned to nobody

[2022-01-27 01:31] garethds opened #282 "Add device support for zhimi.airpurifier.v7"
Great homebridge plugin and works flawlessly for my 2S. Please add support for the zhimi.airpurifier.v7 model if possible.

[2022-01-27 21:37] szkocot commented on #260
After some trial and error, got it working with https://github.com/merdok/homebridge-miot.

All controls including fan speed, mode, led/buzzer control, humidity/temp sensors are working fine. I was finally able to get rid of xiaomi app.

Be aware, that your mi purifier may not be registered on a server in China, so it may get the wrong token from your login/password. Also, I've had to switch to co

[2022-01-27 22:19] szkocot commented on #48
https://github.com/torifat/xiaomi-mi-air-purifier/issues/260#issuecomment-1023661612

[2022-01-30 09:24] yipyuklam commented on #277
I have same issue for Xiaomi Air Purifier 4

Version:

Xiaomi Mi Air Purifier
homebridge-xiaomi-mi-air-purifier v2.0.2

Configuration:

{
    "name": "空氣清新機",
    "address": "192.168.10.24",
    "token": "6c4ba2a9216b61f86badffcfbb8958f6",
    "enableAirQuality": true,
    "enableTemperature": true,
    "enableHumidity": true,
    "filterChangeThreshold": 5,
    "enableFanSpeedControl": true,

[2022-02-02 13:29] KPPT87 opened #288 "2s not able to change speed and always set to Auto when switch on"
Hi
I'm unable to change speed on my 2s device and when switch on the device is set  to Auto mode every time.

Here's my Logs :

[code]

**Plugin Config:**

[code]

**Environment:**

- **Plugin Version**: 2.0.2
- **Homebridge Version**: <4.42.0 -->
- **Node.js Version**: <v16.13.2>
- **NPM Version**: <v8.3.1>
- **Device**: <!--  Xiaomi Air Purifier 2s
- **Operating System**: <!-- Raspbian>

Please

[2022-02-04 13:19] jcouzy opened #289 "Plugin not working anymore"
The plugin doesn't work anymore; here's the error message:

This plugin slows down Homebridge. The read handler for the characteristic 'Active' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info.

**Logs:**

This plugin slows down Homebridge. The read handler for the characteristic 'Active' didn't respond at all!. Please check that you

[2022-02-05 17:41] raphmoska commented on #289
No idea if there is a solution?

[2022-02-09 21:12] jmuggler commented on #289
Same problem.

[2022-02-09 21:13] jmuggler commented on #277
Same problem here.

[2022-02-11 19:55] senorshaun commented on #289
New install. model=zhimi.airpurifier.mb4 aka Mi Air Purifier 3C. I have all the optional parameters set to false. logs show it is connected however the accessory doesn't update in the home app based on the device state, nor can the home app control it.

[2022-02-13 08:19] Rezessivo commented on #277
same here....

[2022-02-13 13:59] paqpaqpaq commented on #289
ugh. same issue here.  and it actually does slow HB down quite a bit.
It needs to wait for all of this being handled whenever the home app is addressed

[2022-02-13 18:55] chung0002000 commented on #277
Same here

[2022-02-19 05:42] kwkkwok opened #299 "Mi Air Purifier MAX2 does not connect"
Xiaomi Max Air filter (zhimi.airpurifier.sb1) does not work.

**To Reproduce:**

Standard installation process using gui

**Expected behavior:**

Mi Air Purifier MAX2 (Living Room) should work like the Mi Air Purifier 2 (Hallway)

**Logs:**

Attached as
[homebridge.log.txt](https://github.com/torifat/xiaomi-mi-air-purifier/files/8101496/homebridge.log.txt)

**Plugin Config:**

[code]

**Screenshot

[2022-03-05 16:39] developerrespig commented on #277
Same for me, waiting for an update :)

[2022-03-05 18:45] jordihoven commented on #289
Any update? Is there a fix in the works, or is there an alternative plugin to move to?

[2022-03-06 06:58] jordihoven commented on #289
Same issue. [https://github.com/merdok/homebridge-miot](url) seems to work fine as an alternative.

[2022-03-18 17:01] developerrespig commented on #277
Just saw in another issue that there is another plugin which actually works for me which I would like to share with you:

https://github.com/merdok/homebridge-miot

[2022-04-28 12:00] romanu417 commented on #212
I have the same problem

[2022-06-09 19:22] realJustinLee opened #365 "Deprecation of device.changeFanSpeed"
This plugin threw an error from the characteristic 'Rotation Speed': Unhandled error thrown inside write handler for characteristic: device.changeFanSpeed is not a function. See https://homebridge.io/w/JtMGR for more info.

[2022-06-19 13:00] zhukovheorhii opened #373 "Ability to configure air quality ranges"
Would be good to have a custom configuration for air quality ranges
[code]

As a user I want to be able to set another ranges to have more flexible automation at the Apple Home

[2022-06-29 20:37] rajattrehan21 commented on #365
I am having the same issue..

[2022-07-06 16:05] jcouzy opened #386 "Device not responding in Homekit"
**Describe Your Problem:**

I created on/off automations in the Xiaomi app. When the device is turned off, I get error messages in Homebridge and the device shows as not responding in Homekit. In the Xiaomi I can still see device status and air quality, also the Air purifier is still singable.

**Logs:**
 This plugin slows down Homebridge. The read handler for the characteristic 'PM2.5 Density' di

[2022-07-26 19:44] nenych commented on #365
The same problem

[2022-07-27 21:35] Tusmarthome opened #397 "Unresponsive 4 lite ……, I hope you fix the error as soon as possible thank you"
**Describe The Bug:**

**To Reproduce:**

**Expected behavior:**

**Logs:**

[code]

**Plugin Config:**

[code]

**Screenshots:**

**Environment:**

- **Plugin Version**:
- **Homebridge Version**:
- **Node.js Version**:
- **NPM Version**:
- **Device**:
- **Operating System**:

[2022-09-05 17:13] cmond92 commented on #243
same here

[2022-09-07 06:09] yusufd1 opened #431 "Mi 3H"
Hi please can you expose the LED control and the Buzzer for these models in home app. Great work thus far. In the Mi app it's called "notification sound" and "Light".
![311F2BE3-7C18-4756-9142-48923CDA8373](https://user-images.githubusercontent.com/7950910/188801522-9881b583-ec9d-4d7b-b395-18d9a53419c9.jpeg)

[2022-09-18 08:08] vladsamoy commented on #243
Same here

[2022-10-22 13:36] naughtydogx commented on #373
Any progress with this? This can't be a problem because another plugins has got it - it is called "pm25_breakpoints".

[2022-10-22 21:26] MartinVanVan commented on #243
Any Update on this ?? Try to add my Air Purifier 4 and get the same issue

[2022-10-28 11:58] JTex92 opened #467 "Impossible to control my Mi Air Purifier 2S"
After having setup my device, it's impossible to control it or get temperature, air quality information

Device: Mi Air Purifier 2S
zhimi.airpurifier.mc1
133073972
cn

**Environment:**
- **Plugin Version**: homebridge-xiaomi-mi-air-purifier v2.0.2
- **Homebridge Version**: v1.5.1
- **Node.js Version**: [v16.16.0](https://homebridge.io/w/JTKEF)
- **Device**: Mi Air Purifier 2S
- **Operating System*

[2022-10-30 09:31] MTT83 opened #468 "The plugin not working at all"
Hello.

Since day one the plugin never works, always showing in Homekit "Air Purifire No Response" , i tried to delete and reinstall and restart 3 times, the IP Address and the Token correct 100% , but never works .

i need this plugin to works for me .

**Below the Logs :**

[10/30/2022, 1:24:30 PM] [homebridge-xiaomi-mi-air-purifier] This plugin threw an error from the characteristic 'Air Qualit

[2022-10-31 13:17] tokamac opened #470 "Is this abandoned?"
No updates for latest Xiaomi air purifiers (4, 4 Pro, MAX, etc.) nor promised enhancements (Quiet/Sleep mode, separate tiles in Home app…) for over a year. What gives?

[2022-10-31 18:43] fmpmsilva opened #471 "Mi air purifier 3C"
Hi. Plug in not working at all.

tried everything. Always showing no response on HomeKit.

[2022-11-05 05:56] dawiinci opened #475 "Disable switches (silent, etc)"
My air purifier has several switches (favorites, silent, auto) and a fan entity (percentage) in HomeKit.

I only need the fan entity. Otherwise Siri just switches on all switches, which makes no sense. Especially because switching off always fails. Setting it back to 100%.

Just renaming the switches and ungrouping doesn’t help.

How can I do this?

[2022-11-06 09:36] Bacto commented on #471
Hi,

Same here :-/

In logs I have:
[code]

Best,
Adrien